 
@{ 
    Layout = "_Layout"; 
} 
 
<!DOCTYPE html> 
 
<html> 
<head> 
    <meta name="viewport" content="width=device-width" /> 
    <title>Meter</title> 
    <meta charset="utf-8"> 
</head> 
<body> 
    <div class="main-panel"> 
        <div class="content-wrapper"> 
            <div class="col-12 grid-margin"> 
                <div class="card"> 
                    <div class="card-body"> 
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 grid-margin "> 
                            <div class="  card-statistics"> 
                                <div class="mt-2 card-primary card-body-18  text-center"> 
                                    <h1 class="text-center">กรอกข้อมูลการใช้น้ำ - ไฟ</h1> 
                                </div>
                            </div>
                        </div>
                        <div class ="text-center" id="months"> 
                            <p class="h3 text-primary">เลือกเดือนที่ต้องการกรอก</p> 
                                <div class="col-sm-8 in-center" >
                                    <div class="input-group  text-center" >                     
                                        <input type="month" class="input100 form-control" name="month" id="month" /> 
                                        <button id="next1" class="col-sm-3 btn btn-1  btn-default  bg-primary border-primary text-white">ตกลง</button> 
                                    </div>
                                </div>
                            </div>
                
                        <div style="display: none;" id="div1"> 
                            <div class="input-group mt-2">
                                <button id="goback" class="btn btn-1 mr-2 btn-default  bg-primary border-primary text-white"><i class=" mr-2 mt-2 mdi mdi-keyboard-backspace mdi-24px text-white"></i></button> 
                                <h3 id="showmonth" class="mt-2 text-primary "></h3> 
                            </div> <br>

                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 grid-margin "> 
                                <div class="  card-statistics"> 
                                    <div class="mt-2 card-info card-body2  text-center"> 
                                        <h4>ห้องที่มีผู้เช่า</h4><Br> 
                                        <div class="input-group">
                                            <div id="divadds" class="in-center"></div> 
                                        </div>
                           
                                    </div>
                                </div>
                        </div>

                            <div class="row"> 
                                <div class="col-md-4"> 
                                    <div class="form-group-18 row"> 
                                        <label class="col-sm-4 col-form-label ">เลขห้อง</label> 
                                        <div class="col-sm-8"> 
                                            <div class="input-group"> 
                                                <input id="roomid" name="roomid" type="text" class="form-control col-lg-8 text-center" placeholder="เลขห้อง" aria-describedby="colored-addon3" autocomplete="off" disabled="disabled"> 
                                            </div> 
                                        </div> 
                                    </div> 
                                </div> 
                                <div class="col-md-4"> 
                                    <div class="form-group-18 row"> 
                                        <label class="col-sm-4 col-form-label">มิเตอร์น้ำ</label> 
                                        <div class="col-sm-8"> 
                                            <div class="input-group"> 
                                                <input id="water" name="water" type="text" class="form-control col-lg-8" placeholder="มิเตอร์น้ำ" aria-describedby="colored-addon3" autocomplete="off" data-toggle="popover" data-trigger="focus" data-placement="top"> 
                                            </div> 
                                        </div> 
                                    </div> 
                                </div> 
                                <div class="col-md-4"> 
                                    <div class="form-group-18 row"> 
                                        <label class="col-sm-4 col-form-label">มิเตอร์ไฟ</label> 
                                        <div class="col-sm-8"> 
                                            <div class="input-group"> 
                                                <input id="elec" name="elec" type="text" class="form-control col-lg-8" placeholder="มิเตอร์ไฟ" aria-describedby="colored-addon3" autocomplete="off" data-toggle="popover" data-trigger="focus" data-placement="top"> 
                                            </div> 
                                        </div> 
                                    </div> 
                                </div> 
                            </div> 
                            <br>
                            <br>
                            <button id="add" class="in-center btn btn-1 btn-success btn-rounded btn-block btn-fw">เพิ่ม</button> 
                        </div> 
                    </div>
                </div> 
            </div> 
        
        </div> 
    </div> 
    <script src="~/js/renter/Meter1.1.js"></script> 
</body> 
</html> 

