 
@{ 
    Layout = "_Layout"; 
} 
 
<!DOCTYPE html> 
 
<html> 
<head> 
    <meta name="viewport" content="width=device-width" /> 
    <title>ChangePassword</title> 
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.28.8/dist/sweetalert2.all.min.js"></script> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@7.28.8/dist/sweetalert2.min.css"> 
</head> 
<body> 
    <div class="main-panel"> 
        <div class="content-wrapper"> 
            <div class="col-12 grid-margin"> 
                <div class="card"> 
                    <div class="card-body text-center"> 
                        <h1>เปลี่ยนรหัสผ่าน</h1> 
                        <br /> <div class="col-sm-7 in-center" >
                    
                                    <div class="input-group  text-center mb-5" >                     
                                        <input id="oldpass" name="oldpass" required type="password" class="form-control" placeholder="รหัสผ่านเก่า" autocomplete="off"> 
                                         <span class="btn btn-default bg-danger border-danger"><i  class="mdi mdi-textbox mdi-24px text-white"></i></span> 

                                    </div>
                                    <div class="input-group  text-center mb-5" >                     
                                            <input id="password" name="password" required type="password" class="form-control" placeholder="รหัสผ่านใหม่" autocomplete="off"> 
                                         <span class="btn btn-default bg-success border-success"><i  class="mdi mdi-textbox-password mdi-24px text-white"></i></span> 
                                    </div>
                                    <div class="input-group  text-center mb-5" >                     
                                            <input id="cfmpassword" name="cfmpassword" required type="password" class="form-control" placeholder="ยืนยันรหัสผ่านใหม่" autocomplete="off"> 
                                                                                     <span class="btn btn-default bg-success border-success"><i  class="mdi mdi-textbox-password mdi-24px text-white"></i></span> 

                                            <div class="invalid-feedback" id="divCheckPasswordMatch">Password ไม่ตรงกัน</div> 
                                            <div class="valid-feedback" id="divCheckPasswordMatch1">Password ไม่ตรงกัน</div> 

                                    </div>
                                </div>


                    
                           
                        
                                <div class="col-sm-12 in-center" >
                                        <button id="changepass" class="col-sm-3 btn btn-1  btn-default  bg-primary border-primary text-white">เปลี่ยนรหัสผ่าน</button> 
                                </div>
                       
                            <div id="errors"></div> 
                        
                    </div> 
                 </div> 
             </div> 
        </div> 
    </div> 
    <script> 
        $(document).ready(function () { 
            $("#password, #cfmpassword").keyup(checkPasswordMatch); 
        }); 
 
        $("#changepass").click(function () { 
            var password = $("#oldpass").val(); 
            var newpass = $("#password").val(); 
            var newpass2 = $("#cfmpassword").val(); 
            if (newpass2 != newpass) { 
                swal({ 
                    icon: "error", 
                    title: 'เกิดข้อผิดพลาด...', 
                    text: 'Password ไม่ตรงกัน !', 
                }); 
            } else { 
                ChangePassword(); 
            } 
        }); 
 
        function checkPasswordMatch() { 
            var password = $("#password").val(); 
            var confirmPassword = $("#cfmpassword").val(); 
 
            if (password != confirmPassword) { 
                var element = document.getElementById("cfmpassword"); 
                element.classList.add("is-invalid"); 
                $("#divCheckPasswordMatch").html("รหัสผ่านไม่ตรงกัน"); 
            } 
            else { 
                var element = document.getElementById("cfmpassword"); 
                element.classList.remove("is-invalid"); 
                element.classList.add("is-valid"); 
                $("#divCheckPasswordMatch1").html(""); 
            } 
        } 
 
        function gotologout() {
            setTimeout(function () {
                window.location.href = '@Url.Action("Logout", "User")'
            }, 6000);
        } 
 
        function ChangePassword() { 
            var password = $("#oldpass").val(); 
            var newpassword = $("#cfmpassword").val();
            $.ajax({
                type: "post",
                url: "../User/ChangePassword2?password="+password+"&newpassword="+newpassword,
                success: function (result) {
                    if (result == "Fail") {
                        swal({
                            position: 'center',
                            icon: "error",
                            title: 'รหัสผ่านเก่าไม่ถูกต้อง !',
                            timer: 3000
                        });
                    } else {
                        swal({
                            position: 'center',
                            icon: "success",
                            title: 'เปลี่ยน รหัสผ่าน สำเร็จ !',
                            text: "เข้าสู่ระบบอีกครั้งเพื่อใช้งาน รหัสผ่านใหม่",
                            timer: 5000
                        });
                        gotologout();
                    }
                }
            }) 
        } 
    </script> 
</body> 
</html> 
