
@{
    Layout = "_Layout2";
}


<!DOCTYPE html>
<html lang="en">

<head>
 
  <meta charset="utf-8">

  <title>@ViewData["Title"] เข้าสู่ระบบ</title>

</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
      <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
        <div class="row w-100">
          <div class="col-lg-4 mx-auto">
            <div class="auto-form-wrapper">
              <form asp-controller="User" asp-action="Login" method="POST" >
                <div class="form-group">
                     <h2 class="text-center mb-4">เข้าสู่ระบบ</h2>
                  <label class="label">E-mail</label>
                  <div class="input-group">
                    <input required name="email" type="text" class="form-control" placeholder="E-mail">
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="label">รหัสผ่าน</label>
                  <div class="input-group">
                    <input required name ="password"type="password" autocomplete="off" class="form-control" placeholder="*********">
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary submit-btn btn-block" >เข้าสู่ระบบ</button>
                </div>
                <div class="form-group d-flex justify-content-between">
                  <div class="form-check form-check-flat mt-0">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" checked> Keep me signed in
                    </label>
                  </div>
                  <a href="#" class="text-small forgot-password text-black">ลืมรหัสผ่าน</a>
                </div>
                <div class="text-block text-center my-3">
                  <span class="text-small font-weight-semibold">ยังไม่เป็นสมาชิก ?</span>
                  <a asp-area="" asp-controller="User" asp-action="Register" class="text-black text-small">ลงทะเบียน</a>
                </div>
              </form>
            </div>
        
            <p class="footer-text text-center">copyright © Mansion AssistantSystem.</p>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->

  <!-- endinject -->
</body>
</html>