
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <title>รายงานปัญหา</title>
</head>
<body>
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group text-center">
                            <label for="message" style="font-size:30px;">ระบุปัญหา หรือ ข้อเสนอแนะ</label>
                            <textarea class="form-control col-sm-5" id="message" rows="2" style="margin-left: auto;margin-right: auto;"></textarea>
                            <br />
                            <button id="sendReport" type="button" class="btn btn-success mr-2">ส่ง</button>
                        </div>
                        <br />
                        <table id="tblReport" class="table table-hover">
                            <thead>
                                <tr>
                                    <th><b>รหัสร้องเรียน</b></th>
                                    <th><b>ข้อความ</b></th>
                                    <th><b>วันเวลาที่ส่งรายงาน</b></th>
                                    <th class="text-center"><b>สถานะ</b></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

        $(document).ready(function () {
            LoadReport();
        });

        setInterval('LoadReport()', 10000);

        $("#sendReport").click(function () {
            var message = $("#message").val();
            if (message != "") {
                $.ajax({
                    type: "post",
                    url: "/User/sendReport?message=" + message,
                    success: function (result) {
                        if (result == "Fail") {
                            $('#email').val("");
                            swal({
                                position: 'center',
                                type: 'error',
                                title: 'ส่งรายงานล้มเหลว',
                                showConfirmButton: false,
                                timer: 3000
                            });
                        } else {
                            swal({
                                position: 'center',
                                type: 'success',
                                title: 'ส่งรายงานสำเร็จ',
                                showConfirmButton: false,
                                timer: 2000
                            });
                            LoadReport();
                        }
                    }
                })
            } else {
                swal({
                    position: 'center',
                    type: 'error',
                    title: 'กรุณาใส่ข้อความก่อนส่ง',
                    showConfirmButton: false,
                    timer: 3000
                });
            }
        });

        function LoadReport() {
        $("#tblReport tbody tr").remove();
        $.ajax({
            type: 'post',
            url: '/User/GetReport?Email=@ViewBag.Email',
            dataType: 'json',
            success: function (reports) {
                var items = '';
                $.each(reports, function (i, item) {
                    var status;
                    if (item.report_status == 0) {
                        status = "<td class='text-center'><label class='badge badge-danger text-center'>คุณยังไม่เคยส่งรายงาน</label></td>"
                    } else if (item.report_status == 1) {
                        status = "<td class='text-center'><label class='badge badge-warning text-center'>รายงานถูกส่งไปแล้วรอผู้ดูแลระบบตรวจสอบ</label></td>"
                    } else if (item.report_status == 2) {
                        status = "<td class='text-center'><label class='badge badge-info text-center'>ผู้ดูแลระบบกำลังตรวจสอบและแก้ไข</label></td>"
                    } else if (item.report_status == 3) {
                        status = "<td class='text-center'><label class='badge badge-success text-center'>ปัญหาที่คุณส่งมาได้รับการแก้ไขแล้ว</label></td>"
                    }
                    var rows = "<tr>"
                        + "<td>" + item.report_id + "</td>"
                        + "<td>" + item.report_message + "</td>"
                        + "<td>" + item.report_datetime + "</td>"
                        + status
                        + "</tr>";
                    $('#tblReport tbody').append(rows);
                });
            },
            error: function (ex) {
                var r = jQuery.parseJSON(response.responseText);
                alert("Message: " + r.Message);
                alert("StackTrace: " + r.StackTrace);
                alert("ExceptionType: " + r.ExceptionType);
            }
                    });
            }
    </script>
</body>
</html>
