
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    if (ViewBag.status == 1)
    {
<div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Login สำเร็จ !</strong> Name : @ViewBag.myName Surname : @ViewBag.mySurname Tel : @ViewBag.myTel <a href="#" class="alert-link">this important alert message</a>.
</div>
    }
    else
    {
        @using (Html.BeginForm("Index", "Login", FormMethod.Post))
        {
            <form>
                <br />
                <fieldset>
                    <legend>Login</legend>
                    <br />
                    <br />
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input name="password" type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </fieldset>
            </form>
        }
    }
}