@{
    ViewData["Title"] = "Home Page";
}
@{
    if (ViewBag.myLog == "0")
    {
        <h1>Status Login : Unsuccessful</h1>
    }
    else
    {
        <h1>Status Login : Success</h1>

        <p>My Name : @ViewBag.myName</p>
        <p>My Surname : @ViewBag.mySurname</p>
        <p>My Email : @ViewBag.myEmail</p>
        <p>My Tel : @ViewBag.myTel</p>
    }
}