@{
Layout = null;
}

<!DOCTYPE HTML>

<html>

<head> 
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <title>Mansion Assistant System</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" /> 
    <meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" /> 
    <meta name="author" content="FreeHTML5.co" /> 
 
    <!-- Facebook and Twitter integration --> 
    <meta property="og:title" content="" /> 
    <meta property="og:image" content="" /> 
    <meta property="og:url" content="" /> 
    <meta property="og:site_name" content="" /> 
    <meta property="og:description" content="" /> 
    <meta name="twitter:title" content="" /> 
    <meta name="twitter:image" content="" /> 
    <meta name="twitter:url" content="" /> 
    <meta name="twitter:card" content="" /> 
    <!-- <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'> --> 
    <link href="https://fonts.googleapis.com/css?family=Kanit:300" rel="stylesheet"> 
    <!-- Animate.css --> 
    <link rel="stylesheet" href="../home/css/animate.css"> 
    <link rel="stylesheet" href="../home/css/custom.css"> 
    <!-- Icomoon Icon Fonts--> 
    <link rel="stylesheet" href="../home/css/icomoon.css"> 
    <!-- Bootstrap  --> 
    <link rel="stylesheet" href="../home/css/bootstrap.css"> 
    <!-- Magnific Popup --> 
    <link rel="stylesheet" href="../home/css/magnific-popup.css"> 
    <!-- Theme style  --> 
    <link rel="stylesheet" href="../home/css/style.css"> 
    <link rel="stylesheet" href="../css/price.css"> 
    <!-- Modernizr JS --> 
    <script src="../home/js/modernizr-2.6.2.min.js"></script> 
    <!-- FOR IE9 below --> 
    <!--[if lt IE 9]> 
    <script src="js/respond.min.js"></script> 
    <![endif]--> 
 
</head>

<body> 
 
    <div class="fh5co-loader"></div> 
 
    <div id="page"> 
        <nav class="fh5co-nav" role="navigation"> 
            <div class="container"> 
                <div class="row"> 
                    <div class="col-xs-2"> 
                        <div id="fh5co-logo"><a class="brand-logo-mini h2 " asp-controller="Home" asp-action="Index">M<img src="../images/logo-mini.svg" alt="logo" />S</a></div> 
 
                    </div> 
                    <div class="col-xs-10 text-right menu-1"> 
                        <ul> 
                             <li><a href="#fh5co-section">บริการ</a></li>                    
                            <li><a href="#fh5co-features-2">ฟีเจอร์</a></li> 
                              <li><a href="#fh5co-about-section">เกี่ยวกับ</a></li> 
                            <li  ><a asp-controller="User" asp-action="Login">เข้าสู่ระบบ</a>
                            <li><a asp-controller="User" asp-action="Register">สมัครสมาชิก</a></li> 
                        </ul> 
                    </div> 
                </div> 
 
            </div> 
        </nav> 
        <header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(../home/images/3122.jpg);"> 
            <div class="overlay"></div> 
            <div class="container"> 
                <div class="row"> 
                    <div class="col-md-10 col-md-offset-1 text-center"> 
                        <div class="display-t"> 
                            <div class="display-tc animate-box" data-animate-effect="fadeIn"> 
                                <h1>Mansion Assistant System</h1> 
                                <h2>เว็บแอปพลิเคชัน ผู้ช่วยบริหารหอพัก </h2> 
                                <p><a href="#fh5co-features-2" class="btn btn-default">การทำงานของระบบ</a></p> 
                            </div> 
                        </div> 
                    </div> 
                </div> 
            </div> 
        </header> 
 
        <div class="container"> 
            <div class="row"> 
                <div id="fh5co-section"> 
                    <div class="col-nineth"> 
                       <div id="pricing" class="text-center">
                        <div class="container">
                            <div class="section-title center">
                            <h1>บริการ</h1>
                            <hr>
                            <p></p>
                            </div>
                            <div class="row"> 
                                @foreach (var p in ViewBag.Promotion) 
                                { 
                                    <div class="col-md-4 col-sm-4 text-center animate-box"> 
                                        <div class="pricing-table "> 
                                            <div class="plan-name"> 
                                                <h3>@p.Title</h3> 
                                            </div> 
                                            <div class="plan-price"> 
                                                <div class="price-value">@p.Price ฿</div> 
                                            </div> 
                                            <div class="plan-list "> 
                                                <ul> 
                                                    <li><strong>@p.Detail</strong></li> 
                                                    <li><strong>สิ้นสุดโปรโมชั่น @p.EndDate</strong></li> 
 
                                                </ul> 
                                            </div> 
                                            <div class="plan-signup"> <a href="#" class="btn-system ">จองเลย !</a> </div> 
                                        </div> 
                                    </div>
                                } 
                            </div>
                        </div>
                        </div>
                    </div> 
                   
                </div> 
            </div> 

            
        </div> 
        <div class="fh5co-bg-section"> 
            <div class="container"> 
                <div class="row"> 
                    <div id="fh5co-features-2"> 
                        <div class="col-feature-9"> 
                            <div class="row"> 
                                <div id="feture" class="col-md-12 fh5co-heading animate-box"> 
                                    <h2>ฟีเจอร์</h2> 
                                    <p> 
                                        Mansion Assistant System คือ Web Application ที่จะเข้ามาเปลี่ยนการบริหารจัดการหอพักแบบเดิมๆ ที่ต้องจดบันทึกข้อมูลต่างๆลงบนแผ่นกระดาษ 
                                        คำนวณค่าน้ำ ค่าไฟ ด้วยมือ โดย MAS จะทำให้สะดวกสบายมากขึ้น <h3 class="mt-5 text-white">ดูรายได้ย้อนหลัง</h3>
                                    </p> 
                                </div> 
                            </div> 
                            <div class="row"> 
                                <div class="col-md-7 col-sm-7 col-md-pull-2 col-sm-pull-2 animate-box" data-animate-effect="fadeInRight"> 
                                    <div class="feature-image"> 
                                        <img src="../home/images/ww1.png" alt="work"> 
                                    </div> 
                                </div> 
                                <div class="col-md-5 col-sm-5"> 
                                    <div class="feature-left animate-box" data-animate-effect="fadeInLeft"> 
                                        <span class="icon"> 
                                            <i class="icon-check"></i> 
                                        </span> 
                                        <div class="feature-copy"> 
                                            <h3>สะดวกสบาย</h3> 
                                            <p>คำนวณรายได้ย้อนหลัง จากจำนวนผู้เช่าที่มีในหอพัก และจากการใช้น้ำ ใช้ไฟของผู้เช่า</p> 
                                        </div> 
                                    </div> 
                                    <div class="feature-left animate-box" data-animate-effect="fadeInLeft"> 
                                        <span class="icon"> 
                                            <i class="icon-check"></i> 
                                        </span> 
                                        <div class="feature-copy"> 
                                            <h3>ลดระยะเวลาการคำนวณด้วยมือ</h3> 
                                            <p>ทำให้เจ้าของหอพัก ประหยัดเวลาในการทำงานได้</p> 
                                        </div> 
                                    </div> 
                                    <div class="feature-left animate-box" data-animate-effect="fadeInLeft"> 
                                        <span class="icon"> 
                                            <i class="icon-check"></i> 
                                        </span> 
                                        <div class="feature-copy"> 
                                            <h3>Export ไฟล์เป็น Excel</h3> 
                                            <p>ในกรณีที่ผู้ใช้ อยาจะเก็บข้อมูลในรูปแบบเอกสารด้วย </p> 
                                        </div> 
                                    </div> 
                                </div> 
                            </div> 
                        </div> 
                        <div class="col-feature-3" id="feature"> 
                            <div id="fh5co-counter" class="fh5co-bg fh5co-counter"> 
                                <div class="row"> 
                                    <div class="display-t"> 
                                        <div class="display-tc"> 
                                            <div class="col-md-12 animate-box"> 
                                                <div class="feature-center"> 
                                                    <span id="drom" class="counter js-counter" data-from="0" data-to="999" data-speed="4000" data-refresh-interval="50">1</span> 
                                                    <span class="counter-label">จำนวนหอพักในระบบ</span> 
                                                </div> 
                                            </div> 
                                            <div class="col-md-12 animate-box"> 
                                                <div class="feature-center"> 
                                                    <span id="owner" class="counter js-counter" data-from="0" data-to="999" data-speed="4000" data-refresh-interval="50">1</span> 
                                                    <span class="counter-label">จำนวนผู้ใช้ระบบ</span> 
                                                </div> 
                                            </div> 
                                            <div class="col-md-12 animate-box"> 
                                                <div class="feature-center"> 
                                                    <span id="room" class="counter js-counter" data-from="0" data-to="999" data-speed="4000" data-refresh-interval="50">1</span> 
                                                    <span class="counter-label">จำนวนห้องพักในระบบ</span> 
                                                </div> 
                                            </div> 
                                            <div class="col-md-12 animate-box"> 
                                                <div class="feature-center"> 
                                                    <span id="cal" class="counter js-counter" data-from="0" data-to="999" data-speed="5000" data-refresh-interval="50">1</span> 
                                                    <span class="counter-label">จำนวนการคำนวณมิเตอร์ในระบบ</span> 
                                                </div> 
                                            </div> 
                                        </div> 
                                    </div> 
                                </div> 
                            </div> 
                        </div> 
                    </div> 
                </div> 
            </div> 
        </div> 
 
        <div id="fh5co-portfolio"> 
            <div class="container"> 
                <div class="row animate-box"> 
                    <div class="col-md-8 col-md-offset-2 text-center fh5co-heading"> 
                        <h2>ฟีเจอร์</h2> 
                        <p>Mansion Assistant System ยังสมารถ "คาดการ์รายได้" ที่จะได้รับในเดือนถัดไปได้ด้วย</p> 
                    </div> 
                </div> 
                <div class="row"> 
                    <div class="project"> 
                        <div class="col-md-8 col-md-push-5 animate-box" data-animate-effect="fadeInLeft"> 
                            <img class="img-responsive" src="../home/images/work2.png" alt="work"> 
                        
                            <img class="img-responsive" src="../home/images/ww3.png" alt="work"> 
                        </div> 
                        <div class="col-md-4 col-md-pull-8 animate-box" data-animate-effect="fadeInRight"> 
                            <div class="mt"> <br><br>
                                <h3>คาดการณ์รายได้</h3> 
                                <p>โดยระบบจะทำการคำนวณจาก จำนวนห้องที่มีผู้ใช้อยู่ในเดือนปัจจุบัน แล้วนำผลที่ได้ไปบวกกับจำนวนการใช้น้ำและไฟ โดยเฉลี่ยย้อนหลัง 3 เดือน ซึ่งการคาดการณ์รายได้ จะทำให้ผู้ใช้</p> <br><br>
                                <ul class="list-nav"> 
                                    <li><i class="icon-check"></i>สาามารถวางแผนทางการเงินในเดือนถัดไปได้</li> 
                                    <li><i class="icon-check"></i>สามารถทำให้ทราบปริมาณการใช้น้ำและไฟได้</li> 
                                
                                </ul> 
                            </div> 
                        </div> 
                    </div> 
                    <div class="project"> 
                        <div class="col-md-8 col-md-pull-1 animate-box" data-animate-effect="fadeInLeft"> 
                            <img class="img-responsive" src="../home/images/ww4.png" alt="work"> 
                            <img class="img-responsive" src="../home/images/ww5.png" alt="work"> 
                        </div> 
                        <div class="col-md-4 animate-box" data-animate-effect="fadeInRight"> 
                            <div class="mt"> 
                                <div> 
                                    <h4><i class="icon-user"></i>จัดการข้อมูลผู้เช่า</h4> 
                                    <p>สามารถเพิ่ม แก้ไข ผู้เช่าได้ โดยเจ้าของหอสามารถเก็บสัญญาเช่าในรูปแบบไฟล์ต่างๆ เช่น FDF, Word</p> 
                                </div> <br><br><br>
                                <div> 
                                    <h4><i class="icon-video2"></i>รายงานปัญหาการใช้งาน</h4> 
                                    <p>ผู้ใช้งานระบบ สามารถแจ้งงปัญหาการใช้งานต่างๆได้ เพื่อให้แอดมินทำการแก้ไขให้ </p> 
                                </div> <br><br><br>
                                <div> 
                                    <h4><i class="icon-shield"></i>อัพเดทมิเตอร์</h4> 
                                    <p>กรอกมิเตอร์เพื่อ ให้ระบบทำการคำนวณปริมาณการใช้น้ำและไฟ เพื่อใช้ในการคำนวณรายได้</p> 
                                </div> 
                            </div> 
                        </div> 
                    </div> 
                </div> 
            </div> 
        </div> 
        <div id="fh5co-testimonial"> 
            <div class="container"> 
                <div class="row animate-box"> 
                    <div class="col-md-8 col-md-offset-2 text-center fh5co-heading"> 
                        <h2>ประกาศจากผู้พัฒนา</h2> 
                    </div> 
                </div> 
                    <div class="row"> 
                        @foreach (var a in ViewBag.Announce) 
                        { 
                            <div class="col-md-4 animate-box"> 
                                <div class="testimony"> 
                                    <blockquote> 
                                        &ldquo;@a.Message&rdquo; 
                                    </blockquote> 
                                    <p class="author"><cite>Developer Team</cite></p> 
                                </div> 
                            </div> 
                        } 
                    </div> 
            </div>
        </div> 


	<div id="fh5co-about-section">
		<div class="container">
			<div class="about-content">
				
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>ผู้พัฒนา</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-staff">
						<img src="../home/images/person1.jpg" alt="Free HTML5 Templates by FreeHTML5.co">
						<h3>Nathachanon Sumranjai</h3>
						<strong class="role">Web Designer</strong>
						<p>นักศึกษาภาควิชาวิศวกรรมคอมพิวเตอร์<br> วิทยาลัยนวัตกรรมด้านเทคโนโลยีและวิศวกรรมศาสตร์ <br>มหาวิทยาลัยธุรกิจบัณฑิตย์<br>ชั้นปีที่ 3</p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
							<li><a href="#"><i class="icon-github"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-staff">
						<img src="../home/images/person2.jpg" alt="Free HTML5 Templates by FreeHTML5.co">
						<h3>phuwarin kanokpornpaiboon</h3>
						<strong class="role">Front-end Developer</strong>
						<p>นักศึกษาภาควิชาวิศวกรรมคอมพิวเตอร์<br> วิทยาลัยนวัตกรรมด้านเทคโนโลยีและวิศวกรรมศาสตร์ <br>มหาวิทยาลัยธุรกิจบัณฑิตย์<br>ชั้นปีที่ 3</p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
							<li><a href="#"><i class="icon-github"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-staff">
						<img src="../home/images/person3.jpg" alt="Free HTML5 Templates by FreeHTML5.co">
						<h3>noparat pasomporn</h3>
						<strong class="role">Back-end Developer</strong>
						<p>นักศึกษาภาควิชาวิศวกรรมคอมพิวเตอร์<br> วิทยาลัยนวัตกรรมด้านเทคโนโลยีและวิศวกรรมศาสตร์ <br>มหาวิทยาลัยธุรกิจบัณฑิตย์<br>ชั้นปีที่ 3</p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
							<li><a href="#"><i class="icon-github"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
        <footer id="fh5co-footer" role="contentinfo"> 
            <div class="container"> 
              
                <div class="row copyright"> 
                    <div class="col-md-12 text-center"> 
 	                        <p>
						<small class="block">&copy; Msnsion Assistant System</small> 
					</p>
                        <p> 
                            <ul class="fh5co-social-icons"> 
                                <li><a href="#"><i class="icon-twitter"></i></a></li> 
                                <li><a href="#"><i class="icon-facebook"></i></a></li> 
                                <li><a href="#"><i class="icon-linkedin"></i></a></li> 
                                <li><a href="#"><i class="icon-dribbble"></i></a></li> 
                            </ul> 
                        </p> 
                    </div> 
                </div> 
            </div> 
        </footer> 
    </div> 
    <div class="gototop js-top"> 
        <a href="#fh5co-header" class="js-gotop"><i class="icon-arrow-up"></i></a> 
    </div> 
    <!-- jQuery --> 
    <script src="../home/js/jquery.min.js"></script> 
    <!-- jQuery Easing --> 
    <script src="../home/js/jquery.easing.1.3.js"></script> 
    <!-- Bootstrap --> 
    <script src="../home/js/bootstrap.min.js"></script> 
    <!-- Waypoints --> 
    <script src="../home/js/jquery.waypoints.min.js"></script> 
    <!-- countTo --> 
    <script src="../home/js/jquery.countTo.js"></script> 
    <!-- Magnific Popup --> 
    <script src="../home/js/jquery.magnific-popup.min.js"></script> 
    <script src="../home/js/magnific-popup-options.js"></script> 
    <!-- Main --> 
    <script src="../home/js/main.js"></script> 
 
    <script> 
        $("a[href^='#']").click(function(e) {
	e.preventDefault();
	
	var position = $($(this).attr("href")).offset().top;

	$("body, html").animate({
		scrollTop: position
	} );
});


        $(document).ready(function () { 
            LoadData(); 
            LoadPromotionEX(); 
        }); 
        function LoadPromotionEX() {
            $('#promotion1 div').remove();
            $.ajax({
                type: 'post',
                url: '../Home/LoadPromotion',
                dataType: 'json',
                success: function (promotions) {
                    var items = '';
                    $.each(promotions, function (i, item) {
                        $('#promotion1').append('<div class="col-third" id="' + item.promotion_id + '"><div class= "col-md-12" ><div class="price-box text-center"><div id="' + item.promotion_id + '"><h3><b>' + item.title + '</b></h3><h2 class="text-org"><b>' + item.price + ' บาท</b></h2 ><h3><b>ต่อเดือน</b></h3><div class="gr-line"></div><div>' + item.detail + '</div><div class="gr-line"></div><div>โปรโมชั่นนี้จะหมดเขต ' + item.endDate + '</div></div>');
                    });
                },
                error: function (ex) {
                    var r = jQuery.parseJSON(response.responseText);
                    alert("Message: " + r.Message);
                    alert("StackTrace: " + r.StackTrace);
                    alert("ExceptionType: " + r.ExceptionType);
                }
            });
        } 
        function LoadData() { 
            $.ajax({ 
                type: "post", 
                url: "../Home/CheckOwner", 
                dataType: 'json', 
                success: function (result) { 
                    $("#owner").attr('data-to', result); 
                } 
            }); 
 
            $.ajax({ 
                type: "post", 
                url: "../Home/CheckDorm", 
                dataType: 'json', 
                success: function (result) { 
                    $("#drom").attr('data-to', result); 
                } 
            }); 
 
            $.ajax({ 
                type: "post", 
                url: "../Home/CheckRoom", 
                dataType: 'json', 
                success: function (result) { 
                    $("#room").attr('data-to', result); 
                } 
            }); 
 
            $.ajax({ 
                type: "post", 
                url: "../Home/CheckCal", 
                dataType: 'json', 
                success: function (result) { 
                    $("#cal").attr('data-to', result); 
                } 
            }); 
        } 
    </script> 
</body>

</html>