 
@{ 
    Layout = "_Layout"; 
} 
 
<!DOCTYPE html> 
 
<html> 
<head> 
  <script src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
  <script src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>   
    <meta name="viewport" content="width=device-width" /> 
    <title>รายได้ย้อนหลัง</title> 
    <meta charset="utf-8"> 
</head> 
<body> 
    <div class="main-panel"> 
        <div class="content-wrapper"> 
            
              <div id="chart-container"></div>
                 
                </div> 
                </div>
          
        
  
     
</body> 
</html> 

 <script>
 const dataSource = {
  "chart": {
    "caption": "ข้อมูลรายได้ย้อนหลังรวม",
    "xaxisname": "เดือน",
    "yaxisname": "รายได้",
    "formatnumberscale": "1",
    "plottooltext": "<b>$dataValue</b> ข้อมูลรายได้ของหอ </b> $seriesname",
    "theme": "fusion",
    "drawcrossline": "1",
    "baseFont": "'Kanit', sans-serif",
    "baseFontSize": "14",
    "baseFontColor": "#0066cc",
    "chartLeftMargin": "25",
    "chartTopMargin": "40",
    "chartRightMargin": "40",
    "chartBottomMargin": "40",
    "plotHighlightEffect": "fadeout|color=#7f7f7f, alpha=60",
    "legendItemFontSize": "15",
    "legendItemFont": "'Kanit', sans-serif"
 
  },
  "categories": [
    {
      "category": [
        {
          "label": "ม.ค."
        },
        {
          "label": "ก.พ."
        },
        {
          "label": "มี.ค."
        },
        {
          "label": "เม.ย."
        },
        {
          "label": "มิ.ย."
        }
      ]
    }
  ],
  "dataset": [
    {
      "seriesname": "วงศ์ศิริ",
      "data": [
        {
          "value": "307000"
        },
        {
          "value": "150000"
        },
        {
          "value": "350000"
        },
        {
          "value": "340000"
        },
        {
          "value": "140000"
        }
      ]
    },{
      "seriesname": "ดีดีแมนชัน",
      "data": [
        {
          "value": "407000"
        },
        {
          "value": "250000"
        },
        {
          "value": "150000"
        },
        {
          "value": "540000"
        },
        {
          "value": "340000"
        }
      ]
    }
    
  ]
};

FusionCharts.ready(function() {
   var myChart = new FusionCharts({
      type: "mscolumn2d",
      renderAt: "chart-container",
      width: "100%",
      height: "500",
      dataFormat: "json",
      dataSource
   }).render();
});
</script>