
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
     <link href="https://fonts.googleapis.com/css?family=Kanit:300" rel="stylesheet">
    <link href="~/css/error404.css" rel="stylesheet" />
</head>
<body>
        <div class="container">

            <div class="error">
                <p class="p">4</p>
                <span class="dracula">
                    <div class="con">
                        <div class="hair"></div>
                        <div class="hair-r"></div>
                        <div class="head"></div>
                        <div class="eye"></div>
                        <div class="eye eye-r"></div>
                        <div class="mouth"></div>
                        <div class="blod"></div>
                        <div class="blod blod2"></div>
                    </div>
                </span>
                <p class="p">4</p>

                <div class="page-ms">
                    <p class="page-msg"> เกิดข้อผิดพลาด, หน้าเว็บที่คุณกำลังค้นหา ไม่มีอยู่จริง ! </p>
                    <button class="go-back" onclick="gohome()">Go Back Home</button>
                </div>
            </div>


            <!-- 	<p>Auto back to home page</p> -->
        </div>
        <script>
        function gohome()
        {
            window.location.href = '@Url.Action("Logout", "User")';
        }
        </script>
</body>
</html>
